ui_gui.h

debug
release

Makefile.Debug
Makefile.Release
lib
object_script.physics.Debug
object_script.physics.Release

physics.pro.user*

.classpath
.project
.settings

qrc_res.cpp

Makefile

.moc
.ui

*.o

.qglviewer.xml

bin
gen
target

anim

physics

build-stamp
debian/bullet-physics-playground.debhelper.log
debian/bullet-physics-playground.substvars
debian/bullet-physics-playground/
debian/files

