Source: bpp
Section: graphics
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Uploaders: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), pkg-config, automake, libtool, qt5-qmake, qtbase5-dev, qttools5-dev-tools, libqt5opengl5-dev, libqglviewer-dev | libqglviewer-dev-qt5, freeglut3-dev, libglew-dev, libluabind-dev, liblua5.2-dev, libbullet-dev, libassimp-dev, libsdl2-dev, lsb-release, help2man, libqscintilla2-qt5-dev
Standards-Version: 3.9.7
Homepage: https://github.com/bulttet-physics-playground
Vcs-Git: git://github.com/bullet-physics-playground/bpp.git
Vcs-Browser: https://github.com/bullet-physics-playground/bpp


Package: bpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5svg5
Recommends: povray, openscad | openscad-nightly
Description: bullet physics playground
 Physics simulation.
